node_modules
src/components
dist
.DS_Store
credentialsDev.js
credentialsProd.js
yarn.lock
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/suppliers.iml
.idea/vcs.xml
